<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

	<queries>
		<intent>
			<action android:name="android.intent.action.EDIT"/>

			<data android:scheme="content"/>
		</intent>
	</queries>

	<application
			android:name=".App"
			android:allowBackup="true"
			android:dataExtractionRules="@xml/data_extraction_rules"
			android:fullBackupContent="@xml/backup_rules"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:requestLegacyExternalStorage="true"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/Theme.MyGallery"
			tools:targetApi="31">
		<activity
				android:name=".FullscreenActivity"
				android:configChanges="orientation|keyboardHidden|screenSize"
				android:exported="false"
				android:label="@string/title_activity_fullscreen"
				android:theme="@style/Theme.MyGallery.Fullscreen"/>

		<provider
				android:name="androidx.core.content.FileProvider"
				android:authorities="com.example.mygallery.fileprovider"
				android:exported="false"
				android:grantUriPermissions="true">
			<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/file_paths"/>
		</provider>

		<activity
				android:name=".activities.ImageViewActivity"
				android:configChanges="orientation|keyboardHidden|screenSize"
				android:exported="false"
				android:label="@string/title_activity_image_view"
				android:parentActivityName=".activities.AlbumGridActivity"
				android:theme="@style/Theme.MyGallery.Fullscreen"
				android:windowSoftInputMode="adjustPan"/>
		<activity
				android:name=".activities.AlbumActivity"
				android:exported="true"
				android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".activities.AlbumGridActivity"
				android:exported="false"
				android:parentActivityName=".activities.AlbumActivity"/>
		<activity
				android:name=".activities.CreatedAlbumActivity"
				android:exported="false"
				android:parentActivityName=".activities.AlbumActivity"/>
		<activity
				android:name=".activities.AlbumSelected"
				android:exported="false"
				android:parentActivityName=".activities.CreatedAlbumActivity"/>
	</application>

</manifest>